
@{
    ViewData["Title"] = "日志 | AnkerZhang's Blog";

}

<div id="main" class="container" style="opacity: 1;">
    <article>
        <header>
            <h1>网页开发更新日志</h1>
        </header>
        <div class="content">
            <h2>2018 年 3 月 2 日</h2>
            <ul>
                <li>新增评论者个人主页链接跳转确认提示；</li>
                <li>修复评论者个人主页链接未在新窗口打开的 bug；</li>
                <li>界面细节优化。</li>
            </ul>

            <h2>2017 年 9 月 28 日</h2>
            <ul>
                <li>新增微信小程序的相关信息显示；</li>
                <li>界面细节优化。</li>
            </ul>

            <h2>2017 年 8 月 9 日</h2>
            <ul>
                <li>修复评论回应页面回复功能 bug；</li>
                <li>改进夜间模式显示效果；</li>
                <li>界面细节优化。</li>
            </ul>

            <h2>2017 年 8 月 6 日</h2>
            <ul>
                <li>全新评论回应页面；</li>
                <li>界面细节优化。</li>
            </ul>

            <h2>2017 年 2 月 28 日</h2>
            <ul>
                <li>优化正文粗体和链接文字显示效果。</li>
            </ul>

            <h2>2016 年 8 月 18 日</h2>
            <ul>
                <li>将当前位置模块改为异步加载。</li>
            </ul>

            <h2>2016 年 8 月 12 日</h2>
            <ul>
                <li>优化发布日期显示；</li>
                <li>优化在小尺寸屏幕上的显示效果；</li>
                <li>优化 iPad Pro 竖屏浏览体验；</li>
                <li>修复 iPad 横屏时不显示侧栏内容的 bug；</li>
                <li>大幅减少移动设备访问时的流量消耗；</li>
                <li>界面细节优化。</li>
            </ul>

            <h2>2016 年 8 月 11 日</h2>
            <ul>
                <li>修复文章发布日期异常的 bug；</li>
                <li>界面细节优化。</li>
            </ul>

            <h2>2016 年 8 月 10 日</h2>
            <ul>
                <li>优化页面加载速度；</li>
                <li>优化移动设备上的正文浏览体验；</li>
                <li>修复称线字体颜色过淡的问题；</li>
                <li>修复夜间模式下某些界面元素显示不正常的 bug；</li>
                <li>修复微信分享缩略图显示不正常的 bug；</li>
                <li>修复微博分享时无法获取图片的 bug；</li>
                <li>界面细节优化。</li>
            </ul>

            <h2>2016 年 4 月 9 日</h2>
            <ul>
                <li>优化首页翻页按钮的设计；</li>
                <li>在正文页底部增加下一篇链接；</li>
                <li>支持显示评论者的社交网站头像；</li>
                <li>修复非 HTTPS 浏览时侧栏背景不显示的 bug；</li>
                <li>界面细节优化。</li>
            </ul>

            <h2>2016 年 3 月 23 日</h2>
            <ul>
                <li>优化侧栏的“当前所在地”模块；</li>
                <li>增加收藏栏和 iOS 主屏幕图标。</li>
            </ul>

            <h2>2016 年 3 月 21 日</h2>
            <ul>
                <li>优化触屏设备的浏览体验。</li>
            </ul>

            <h2>2016 年 3 月 20 日</h2>
            <ul>
                <li>增加侧栏背景自动切换；</li>
                <li>修复侧栏在触屏设备上异常滚动的 bug；</li>
                <li>界面细节优化。</li>
            </ul>

            <h2>2016 年 3 月 19 日</h2>
            <ul>
                <li>优化有序列表的显示效果。</li>
            </ul>

            <h2>2016 年 1 月 29 日</h2>
            <ul>
                <li>评论者名称的长度上限调整为 10 个字符。</li>
            </ul>

            <h2>2016 年 1 月 15 日</h2>
            <ul>
                <li>优化 iPad Pro 的浏览体验；</li>
                <li>修复侧栏头像加载失败后可能导致界面错乱的 bug。</li>
            </ul>

            <h2>2015 年 12 月 26 日</h2>
            <ul>
                <li>优化移动设备的浏览体验；</li>
                <li>前端性能优化；</li>
                <li>界面细节优化。</li>
            </ul>

            <h2>2015 年 12 月 19 日</h2>
            <ul>
                <li>优化留言板翻页按钮的设计；</li>
                <li>修复会导致 SSL 意外断开的 bug。</li>
            </ul>

            <h2>2015 年 11 月 11 日</h2>
            <ul>
                <li>全程启用 SSL 安全连接。</li>
            </ul>

            <h2>2015 年 11 月 10 日</h2>
            <ul>
                <li>界面交互细节优化。</li>
            </ul>

            <h2>2015 年 11 月 9 日</h2>
            <ul>
                <li>优化留言板回复按钮的设计；</li>
                <li>修复文章评论框可拉伸范围过大的 bug。</li>
            </ul>

            <h2>2015 年 11 月 6 日</h2>
            <ul>
                <li>优化文章列表缩略图的显示效果；</li>
                <li>修复评论通知邮件中的链接指向错误页面的 bug；</li>
                <li>修复低分辨率时打开页面并放大窗口后界面错乱的 bug；</li>
                <li>界面细节优化。</li>
            </ul>

            <h2>2015 年 10 月 5 日</h2>
            <ul>
                <li>修复文章及评论发布时间存在时差的 bug。</li>
            </ul>

            <h2>2015 年 7 月 20 日</h2>
            <ul>
                <li>修复某些图片链接无法跳转的 bug；</li>
                <li>增加侧栏功能按钮的可点击范围；</li>
                <li>前端性能优化。</li>
            </ul>

            <h2>2015 年 7 月 18 日</h2>
            <ul>
                <li>为摄影作品展示栏添加作品名称和拍摄地；</li>
                <li>为一些按钮增加鼠标悬停和点击效果；</li>
                <li>界面细节优化。</li>
            </ul>

            <h2>2015 年 7 月 17 日</h2>
            <ul>
                <li>修复某些情况下正文页面图片放大后无法缩小的 bug；</li>
                <li>旧版本浏览器兼容性优化。</li>
            </ul>

            <h2>2015 年 7 月 16 日</h2>
            <ul>
                <li>改进正文页面评论栏的触发方式；</li>
                <li>修复浏览多个页面后侧栏滚动速度异常的 bug。</li>
            </ul>

            <h2>2015 年 7 月 15 日</h2>
            <ul>
                <li>为侧栏功能按钮增加文字提示。</li>
            </ul>

            <h2>2015 年 7 月 14 日</h2>
            <ul>
                <li>将悬停在摄影作品展示栏上的鼠标指针改为“放大镜”；</li>
                <li>旧版本浏览器兼容性优化。</li>
            </ul>

            <h2>2015 年 7 月 13 日</h2>
            <ul>
                <li>增加侧栏“返回主页”链接的可点击范围；</li>
                <li>取消侧栏最新留言的全文链接；</li>
                <li>界面细节优化。</li>
            </ul>

            <h2>2015 年 7 月 11 日</h2>
            <ul>
                <li>修复留言板头像错位的 bug；</li>
                <li>在移动设备上隐藏全屏按钮；</li>
                <li>界面细节优化。</li>
            </ul>

            <h2>2015 年 7 月 9 日</h2>
            <ul>
                <li>增加 RSS 订阅功能；</li>
                <li>优化文章列表缩略图的载入速度。</li>
            </ul>

            <h2>2015 年 7 月 8 日</h2>
            <ul>
                <li>增加“网页更新日志”页面；</li>
                <li>增加分享到新浪微博功能；</li>
                <li>优化正文中 &lt;ul&gt; 和 &lt;li&gt; 元素的显示效果。</li>
            </ul>

            <h2>2015 年 7 月 7 日</h2>
            <ul>
                <li>本主题的首个测试版正式上线。</li>
            </ul>
        </div>
    </article>
    <p style="display:block;position:absolute;top:-9999px;"></p>
</div>

