@model Senparc.Weixin.MP.Helpers.JsSdkUiPackage
@{
    ViewData["Title"] = "简历 | AnkerZhang's Blog";

}

<div id="main" class="container" style="opacity: 1; padding-top:0px">
    <article>
        @Html.Raw(ViewBag.t11)
        @Html.Raw(ViewBag.c11)
    </article>
    <p style="display:block;position:absolute;top:-9999px;"></p>
</div>

